* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

hr {
  background-color: #C4C4C4;
  height: 1px;
  border: 0;
}
